@charset "ISO-8859-1";


body{
    background-color: #22292a;
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.main-container{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 30px;
}

.greeting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-level{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remove-line{
    text-decoration:none;
    color: black;
}

h5{
    margin-top: 15px;
}

table{
    margin-top: 25px;
}

img{
    height: 70px;
    margin-left: 1000px;
}

.logo-box{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
}
#text:hover {
    /* other rules */
    color: transparent;
    transition: 1s;

}