@charset "ISO-8859-1";


body{
    background-color: rgb(0, 128, 255);
}

.space-btw {
    display: flex;
    justify-content: space-between;
}

.main-container{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 30px;
    border-radius: 25px;
}

.greeting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-level{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remove-line{
    text-decoration:none;
    color: black;
    margin-right: 15px;
}
#remove-line:hover {
	color:darkblue;
}

h5{
    margin-top: 15px;
}

table{
    margin-top: 25px;
}

img{
    height: 70px;
    margin-left: 1000px;
}

.logo-box{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 25px;
}
.hidden-text{
	opacity: 0;
	transition: opacity 10s ease-in-out;

}